.Rproj.user
.Rhistory
.RData
Project 02/Execucao/Quiz 1/hw1_data.csv
Project 02/Execucao/Prog Assign 1/specdata
Project 02/Execucao/Prog Assign 2
Project 02/Execucao/Prog Assign 3/dataset
Project 03/Execucao/UCI HAR Dataset
